#buttonListItem {
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    color: black;
    background-color: white;
}

#buttonListItem:checked {
    border-bottom: 0;
}

#buttonWidg {
    margin: 0;
    padding: 0;
    background-color: None;
}

* {
    background-color: white;
}